<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quelle salle est libre ?</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Quelle salle est libre ?
      </h1>
      <br>
      {% for room in salles %}
        <div class="notification">
          <button class="delete"></button>
          La salle <strong>{{room[1]}}</strong> est libre. Elle a {{room[2]}} places.
        </div>
      {% endfor %}
    </div>
  </section>
  </body>
</html>